# This file holds some fake requirements to fool the readthedocs service into
# building the documentation. For more information, see
# https://github.com/geopython/pycsw/issues/521
sphinx
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
